@import "tailwindcss";

:root {
  --background: #090909;
  --card: #171717;
  --yellow: #ffd400;
}

body {
  background: var(--background);
  color: white;
}

.heading {
  font-family: var(--font-heading);
}

.body {
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}
