@import "tailwindcss";

:root {
  --background: #090909;
  --card: #171717;
  --yellow: #ffd400;
}

body {
  background: var(--background);
  color: white;
}

.heading {
  font-family: var(--font-heading);
}

.body {
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  12% {
    opacity: 1;
    transform: translateY(0);
  }

  88% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-12px);
  }
}

.animate-fade {
  animation: fadeSlide 4s ease-in-out;
}
